
body{
    font: 20px Arial, sans-serif;
}
 .navbar{

background-color:#abb08c;
 }  

 .quem-somos{
     background-color:#656d33 ;
     color:antiquewhite;
 }

 .margin{
     padding-bottom: 50px;
     padding-top: 10px;
 }

 .parceiros{
     background-color:#1f8c8c ;
     color:antiquewhite
    
 }
 .servicos{
     background-color:#056868;
     color: antiquewhite;
 }

 .bg-footer{
     background-color: black;
     color: bisque;

 }